extends layout

block content
  h1.text-center Welcome to the #{title}
  hr
  h2.text-center.pl-5.pr-5 This site keeps track of the inventory of audio equipment. Browse, add, update or remove items in the inventory.
