extends layout 

block content 

	h1= title 
	hr

	form(method='POST', action='')
		.form-group 
			label(for='name') Maker: 
			input#name.form-control(type='text' placeholder='Maker' name='name' required='true' value=(maker === undefined ? '' : maker.name))
		if maker 
			input#makerId.form-control(type='hidden' name='makerId' required='true' value=maker._id)
		button.btn.btn-primary(type='submit') Submit

	hr
	if errors 
		ul
			for error in errors 
				li= error.msg
		