* {
    box-sizing: border-box;
}

html {
    background-color: #e3e3e3;
}

body {
    background-color: #e3e3e3;
    padding: 0 50px 50px 50px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.jumbotron {
    margin-top: 1rem;
    padding: 2rem;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.btn {
    margin-right: 1rem;
}

a {
    color: #00b7ff;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}